.inputColor {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.inputColor span {
  white-space: pre;
  margin-right: 12px;
}

.inputColor input[type="color"] {
  position: absolute;
  margin: 0;
  opacity: 0;
  width: 0.6875rem;
  height: 0.6875rem;
  border: none;
  cursor: pointer;
}

.inputColor input[type="text"] {
  width: 100%;
  border: none;
  background: rgba(10, 10, 10, 0.2);
  padding: 2px 6px;
  font-size: 0.75rem;
  color: #ffffff;
  margin-left: 6px;
}

.inputColor input[type="text"]:hover {
  background: rgba(10, 10, 10, 0.4);
}
