.layer {
  display: flex;
  align-items: center;
  font-size: 0.75rem;
  background: rgba(146, 134, 134, 0.2);
  padding: 0.375rem;
  color: #7d8b5e;
}

.layer:hover {
  box-shadow: inset 0px 0px 0px 1px bisque;
}

.layer svg {
  height: 1rem;
  width: 1rem;
  fill: currentColor;
}

.layer span {
  flex-grow: 1;
}

.content {
  margin-left: 1rem;
}
