.layer {
  position: relative;
}

.layer:hover .body {
  background: rgba(255, 255, 255, 0.04);
}

.body {
  display: flex;
  position: relative;
  justify-content: space-between;
  padding: 6px;
  font-size: 0.75rem;
  color: #a9cf54;
  background: rgba(255, 255, 255, 0.08);
}

.body * + * {
  margin-left: 6px;
}

.body button {
  color: rgba(255, 255, 255, 1);
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.body button:hover {
  color: rgba(255, 255, 255, 0.8);
}

.body button:focus {
  outline: none;
}

.body .selectButton {
  color: #a9cf54;
}

.body .selectButton:hover {
  color: rgba(169, 207, 84, 0.8);
}

.body input {
  height: 16px;
  width: 8rem;
  background: rgba(10, 10, 10, 0.2);
  border: none;
  color: #ffffff;
}

.children {
  list-style: none;
  padding-left: 20px;
  margin-top: 4px;
}

.children > * + * {
  margin-top: 4px;
}

.contextMenu {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.375rem;
  background-color: #242f39;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: translate(50%, 25%);
  z-index: 1;
}

.contextMenu button {
  display: block;
  width: 100%;
  background-color: transparent;
  border: none;
  color: #ffffff;
  padding: 0.375rem;
  text-align: left;
}

.contextMenu button:hover {
  background-color: #2d3741;
}
