:root {
  --color-background-300: #242f39;
  --color-content-primary: #a9cf54;
  --color-content-ternary: rgba(255, 255, 255, 0.6);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 6px 4px;
  font-size: 1rem;
  color: white;
  position: relative;
  text-shadow: 1px 1px 2px black;
  text-transform: uppercase;
  line-height: 1rem;
}

.small {
  color: var(--color-content-ternary);
  font-size: 0.75rem;
  margin-left: 4px;
}

.article {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 3px rgb(10 10 10 / 40%);
  border: 1px solid #242f39;
  border-radius: 1px;
  background: #242f39;
  padding: 4px;
  flex: 1;
}

.components {
  display: flex;
  flex-direction: column;
  grid-column: span 2;
}

.canvas {
  display: flex;
  flex-direction: column;
  grid-column: span 7;
}

.properties {
  display: flex;
  flex-direction: column;
  grid-column: span 3;
}
