.table {
  width: fit-content;
  text-align: left;
  font-size: 12px;
  border-spacing: 0 4px;
}

.thead {
  font-weight: bold;
}

.th {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: #ffffff;
}

.tbody {
  color: #a9cf54;
}

.tr {
  background: rgba(255, 255, 255, 0.08);
}

.td {
  display: flex;
  align-items: center;
  padding: 6px;
  vertical-align: middle;
  border: none;
  margin: 0;
}

.td > * + * {
  margin-left: 12px;
}

.fieldset {
  display: flex;
  align-items: center;
  padding: 6px;
  vertical-align: middle;
  border: none;
  margin: 0;
}

.fieldset > * + * {
  margin-left: 12px;
}

.legend {
  float: left;
  padding: 0;
}
