.input {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.input__label {
  cursor: ew-resize;
  user-select: none;
}

.input__field {
  display: flex;
  justify-content: flex-end;
  width: 2rem;
  background-color: transparent;
  border: none;
  text-decoration: underline;
  padding: 0;
  font-size: 0.75rem;
  color: #ffffff;
}
