.container {
  width: 100%;
  align-items: center;
}

.container > * + * {
  margin-left: 6px;
}

.label {
  cursor: ew-resize;
  user-select: none;
}

.field {
  width: 100%;
  border: none;
  background: rgba(10, 10, 10, 0.2);
  padding: 2px 6px;
  font-size: 0.75rem;
  color: #ffffff;
}

.container:hover .field {
  background: rgba(10, 10, 10, 0.4);
}
