.tableHeadRow th:first-child {
  padding-left: 0.375rem;
  text-align: left;
  font-size: 0.75rem;
  font-weight: 700;
  color: rgba(255, 255, 255);
}

.tableHeadRow th:nth-child(2) {
  position: relative;
}

.tableDataRow {
  background: rgba(255, 255, 255, 0.04);
}

.tableDataRow:nth-child(2) {
  background: rgba(255, 255, 255, 0.02);
}

.tableDataRow td {
  white-space: nowrap;
  font-size: 0.75rem;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  padding-right: 0.375rem;
}

.tableDataRow td > * + * {
  margin-left: 0.375rem;
}

.tableDataRow td:first-child {
  padding-left: 0.375rem;
  color: #a9cf54;
}

.tableDataRow td:nth-child(2) {
  display: flex;
  color: rgba(255, 255, 255);
}
